<style>
    footer {
        width: 100%;
        background-color: #0d0c0e;
        color: #fff;
        padding: 20px;
        z-index: 1;
    }
</style>
<footer style="font-size:10px;">
    <p>&copy; 2023 www.travelheads.com All rights reserved.</p>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>Contact Us</h5>
                    <p>123 Main Street</p>
                    <p>City, State 12345</p>
                    <p>Phone: 555-555-5555</p>
                    <p>Email: info@travelheads.com</p>
                </div>
                <div class="col">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5>Connect With Us</h5>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="container">
                <p>&copy; 2021 Example Company. All Rights Reserved.</p>
                <ul class="legal">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
</footer>
</body>

</html>