<style>
    /* Styling for the form container */
    #contact-form {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
    }

    /* Styling for text inputs and textareas */
    #contact-form input[type="text"],
    #contact-form textarea {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    /* Styling for the name input field */
    #contact-form #id_name {
        width: calc(50% - 5px);
        margin-right: 10px;
    }

    /* Styling for the email input field */
    #contact-form #id_email {
        width: calc(50% - 5px);
    }

    /* Styling for the submit button */
    #contact-form .btn-send {
        background-color: #337ab7;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>




<form id="contact-form" method="POST" action="{% url 'contact' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-send">Send message</button>
</form>
